<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="public/styles/signup.css">
<body>
	<div class="loginContainer">
		<div class="box">
			<input type="checkbox" id="toggle" class="box__toggle" hidden>
			<img src="https://www.dropbox.com/s/u1hx11933jjk7j5/unsplash-bike.jpeg?raw=1" alt="Picture by Autumn Studio" class="box__image">
			<form class="form form--register" action="">
				<h1 class="form__title">Sign up</h1>

				<div class="form__helper">
					<input type="text" name="user" id="new-user" placeholder="User" class="form__input" />
					<label class="form__label" for="new-user">User</label>
				</div>

				<div class="form__helper">
					<input type="email" name="email" id="email" placeholder="Email" class="form__input" />
					<label class="form__label" for="email">Email</label>
				</div>

				<div class="form__helper">
					<input type="password" name="password" id="new-user-password" placeholder="Password" class="form__input" />
					<label class="form__label" for="new-user-password">Password</label>
				</div>

				<div class="form__helper">
					<input type="password" name="password" id="confirm-password" Placeholder="Confirm password" class="form__input" />
					<label class="form__label" for="confirm-password">Confirm password</label>
				</div>

				<button type="submit" class="form__button">Register</button>

				<p class="form__text">Already have an account? <label for="toggle" class="form__link">Sign in!</label>
			</form>

			<form class="loginForm form--login" action="/signin" method="post">
				<h1 class="form__title">Sign in</h1>

				<div class="form__helper">
					<input type="text" name="user" id="user" placeholder="User" class="form__input" />
					<label class="form__label" for="user">User</label>
				</div>

				<div class="form__helper">
					<input type="password" name="password" id="password" placeholder="Password" class="form__input" />
					<label class="form__label" for="password">Password</label>
				</div>

				<button type="submit" class="form__button">Login</button>

				<p class="form__text">Don't have an account? <label for="toggle" class="form__link">Sign up!</label>
			</form>
		</div>
	</div>
</body>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../../styles/reset.css" />
  <link rel="stylesheet" href="../../styles/homePage.css" />
  <link rel="stylesheet" href="../../styles/nav.css">
  <title>Whistle</title>
</head>

<body>
  <header>
    <article class="headerContainer">
      <div id="item1Header">
        <h1>Whistle <i class="fas fa-flag-checkered"></i></h1>
      </div>
      <div id="item2Header">
        <a href="/live">Live matches</a>
        <a href="#challenge">Challenge</a>
        <a href="#newsSection">News</a>
        <a href="#footballInfo">Football Info</a>
        <a href="/signin"><i onclick="showSignin()" style='font-size:24px' class='fas'>&#xf406;</i><br>

          <!-- <%if (data){%>
          <i>sign in</i>
          <%} else {%>
            <i>sign out</i>
            <%}%> -->

        </a>
      </div>
    </article>

  </header>
  <main>
    <section id="firstSection">
      <!-- <div id="testDiv"></div> -->
      <img src="../../images/vid.gif" alt="background_image" />
      <h2>Whistle <i class="fas fa-flag-checkered"></i></h2>
      <p>Love Football? You Reached! </p>

    </section>


    <section id="footballInfo">
      <div>
        <img class="run" src="/images/football32.png" alt="">
        <h2 id="afterRun">Football Information</h2>
        <img class="run" src="/images/football32.png" alt="">
      </div>
      <div id="searchTopicDiv">
      <h3>Search Topics</h3>
      <select name="searchTopic" id="searchTopic" onchange="showHiddenForm()">
        <option value="SearchTopic">----Choose----</option>
        <option value="matchesResults">Matches Results</option>
        <option value="playersInfo">Players Info</option>
        <option value="matchesDate">Matches Date</option>
        <option value="bestPlayer">The Best Player</option>
      </select>
    </div>

      <div id="hideMe">
        <form action="/h2h" class="hidden-form" id="matchesResults">

          <label>Enter the first team</label>
          <input name="match_hometeam_name" required type="text" id="frstTeam" placeholder="First Team">
          <label>Enter the second team</label>
          <input name="match_awayteam_name" required type="text" id="secondTeam" placeholder="Second Team">
          <input type="submit" value="submit">

        </form>
      </div>
      
      <div>
      <form action="/player" class="hidden-form" id="playersInfo">
        <label>Enter the player name</label>
        <input type="text" name="player_name" id="player_name">
        <input type="submit" value="submit">
      </form>
    </div>

      <div id="hideMe">
        <form action="/events" class="hidden-form" id="matchesDate">
          <label>display the matches from date </label>
          <input type="date" name="fromDate" id="date1">
          <label> to </label>
          <input type="date" name="toDate" id="date2">
          <input type="submit" value="submit">
        </form>
      </div>

      <div id="hideMe">
        <form action="/bestOf" class="hidden-form" id="bestPlayer">
          <select name="leagueName" id="leagueName">
            <option value="leagueName">League Name</option>
            <option value="148">Premier League</option>
            <option value="262">Serie A</option>
            <option value="468">LaLiga</option>
            <option value="195">Bundesliga</option>
            <option value="176">Ligue 1</option>
          </select>
          <input type="submit" value="submit">
        </form>
      </div>

    </section>


    <section id="newsSection" class="row">
      <h2>Today's Sport News</h2>
      <!-- <div id="matches-container" class="column">
        <div id="match_head" class="row">
          <h2>Upcomming Matches</h2>
          <form class="row" action="/" method="GET">
            <select name="league_id" id="leagues-select">
              <option value="195">Bundesliga</option>
              <option value="148">Premier</option>
              <option value="468">LaLiga</option>
              <option value="262">Serie A</option>
              <option value="176">Ligue 1</option>
            </select>
            <input type="submit" value="Get result" />
          </form>
        </div>
        <% if(matches.length > 0){ %> <% matches.forEach(match=>{ %>
        <div class="match-content row">
          <div class="team-image column">
            <img src="<%= match.home_team_logo%>" alt="home_team" />
            <small><%= match.home_team %> </small>
          </div>
          <p><%= match.time %></p>
          <div class="team-image column">
            <img src="<%= match.away_team_logo%>" alt="away_team" />
            <small><%= match.away_team %> </small>
          </div>
        </div>
        <% }) %> <% }else{ %>
        <h3>There is No Mathces today for this league</h3>
        <% } %>
      </div> -->
      <div class="slide-show-container">
        <% news.forEach(item =>{ %>
        <div class="mySlides fade">
          <a href="<%= item.url %>" target="_blank">
            <img src="<%= item.image_url %>" alt="" /></a>
          <p class="text"><%= item.title%></p>
        </div>
        <% }) %>
        <a onclick="plusSlides(-1)" class="prev">&#10094;</a>
        <a onclick="plusSlides(1)" class="next">&#10095;</a>
      </div>
    </section>

    <section id="challenge">
      <h2>Challenge yourself</h2>
      <form action="/question" method="get">
        <label for="question">Number Of Questions</label>
        <input type="number" name="question" id="question" />
        <select name="diffculty" id="diffculty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
        <input type="submit" value="Submit" />
      </form>
      </article>
  </main>
  <script src="../../js/app.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script>

    let selectArray = ['matchesResults', 'playersInfo', "matchesDate", "bestPlayer"];
    selectArray.forEach(element => {
      $(`#${element}`).hide();

    })
    function showHiddenForm() {
      selectArray.forEach(element => {
        if ($('#searchTopic').val() === element) {
          $(`#${element}`).toggle()
        } else {
          $(`#${element}`).hide();
        }

      })
    }

    // show sign in
    $('#hideSign').hide();
    function showSignin() {
      $('#hideSign').toggle()

    }

  </script>
</body>

</html>