<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Matches</title>
  </head>
  <body>
    <% matchArray.forEach(match => { %>
    <div>
      <p><%= match.league_name %></p>
      <p><%= match.match_time %></p>
    </div>
    <% }); %>
  </body>
</html>
