<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,800&family=Josefin+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/signup.css" />
    <link rel="stylesheet" href="../../styles/nav.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../layout/header') %>
    <div class="signContainer">
      <!-- Box number 1 -->
      <div id="signinform" class="box">
        <form class="loginForm form--login" action="/signin" method="post">
          <img
            src="../../images/logo.png"
            alt="log"
            style="border-radius: 20%; width: 40%; height: 40%"
          />
          <h1 class="form__title">Sign in</h1>

          <div class="form__helper">
            <input
              type="text"
              name="email"
              id="email"
              placeholder="User"
              class="form__input"
            />
            <label class="form__label" for="user">User</label>
          </div>

          <div class="form__helper">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              class="form__input"
            />
            <label class="form__label" for="password">Password</label>
          </div>
          <button type="submit" class="form__button">Login</button>
          <p class="form-sign-up">
            Don't have an account?
            <label id="signup" for="toggle" class="form__link">Sign up!</label>
          </p>
        </form>
      </div>
      <!-- Box number 2 -->
      <div id="signupform" class="box">
        <form class="loginForm form--login" action="/addNewUser" method="post">
          <img
            src="../../images/logo.png"
            alt="log"
            style="border-radius: 20%; width: 40%; height: 40%"
          />
          <h1 class="form__title">Sign up</h1>
          <!-- First Name -->
          <div class="form__helper">
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="First Name"
              class="form__input"
            />
            <label class="form__label" for="user">First Name</label>
          </div>
          <!-- Last Name -->
          <div class="form__helper">
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Last Name"
              class="form__input"
            />
            <label class="form__label" for="user">Last Name</label>
          </div>

          <div class="form__helper">
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
              class="form__input"
            />
            <label class="form__label" for="user">Email</label>
          </div>

          <div class="form__helper" style="position: absolute; width: 79%">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              class="form__input"
            />
            <label class="form__label" for="password">Password</label>
          </div>
          <button id="signup-position" type="submit" class="form__button">
            Sign Up
          </button>
          <p class="form-sign-up">
            Already Have An Account?
            <label id="signin" for="toggle" class="form__link">Sign in!</label>
          </p>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
      $('#signin').click(() => {
        $('#signupform').toggle();
        $('#signinform').toggle();
      });

      $('#signup').click(() => {
        $('#signupform').toggle();
        $('#signinform').toggle();
      });
    </script>
  </body>
</html>
