* {
  box-sizing: border-box;
  font-family: 'Grandstander', cursive;
  font-family: 'Josefin Sans', sans-serif;
}

/* Header Start */

header {
  background-color: black;
  height: 75px;
  color: #fff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}
header h1 {
  margin: 0 15px;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

header a:hover {
  cursor: pointer;
}

/* Header End */

/* Top Section Background image start */

#firstSection {
  position: relative;
  height: 500px;
}

#firstSection img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.5;
}

#firstSection h2 {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

#firstSection #aTags {
  position: absolute;
  bottom: 20%;
  justify-content: space-around;
  width: 100%;
}

#firstSection #aTags a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  text-align: center;
}

/* Top Section Background image end */

/*News section start*/

#newsSection {
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0;
}

.slide-show-container {
  width: 80%;
  position: relative;
}
.cente-tilte {
  margin-top: 17px;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
}
.slide-show-container img {
  width: 100%;
  height: 350px;
  object-fit: fill;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.text {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}
.mySlides {
  display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*News section end*/

/* News Section Matches Start */
#matches-container {
  width: 20%;
  height: 350px;
  overflow: scroll;
  justify-content: space-between;
  border: black 1px solid;
  position: relative;
}

#matches-container h3 {
  position: absolute;
  bottom: 40%;
  font-size: 20px;
  color: red;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

#match_head {
  width: 100%;
  justify-content: space-around;
  background-color: #000000;
  color: #fff;
  padding: 5px;
}

#match_head h2 {
  font-size: 20px;
  text-align: center;
}

#match_head select {
  appearance: none;
  -moz-appearance: button-arrow-down;
  border: none;
  background-color: #000000;
  color: #fff;
  padding: 5px;
  font-size: 15px;
}
#match_head input[type='submit'] {
  width: 60%;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
}

.match-content {
  justify-content: space-around;
  height: 15%;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(99, 97, 97);
}

.match-content p {
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 2px white solid;
  border-radius: 5px;
}

.team-image {
  height: 100%;
  width: 40%;
  align-items: center;
}

.team-image img {
  width: 50%;
  height: 50%;
}

.team-image small {
  text-align: center;
  font-size: 12px;
}
/* News Section Matches End */

/* Live Matches live.ejs Start */

.container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

#live-match {
  width: 30%;
}
.live-match-content {
  width: 40%;
  color: rgb(52, 52, 52);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
  border-radius: 5px;
  margin: 60px 0;
}
.live-match-stat {
  width: 20%;
  color: rgb(52, 52, 52);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
  border-radius: 5px;
  margin: 60px 0;
}
.live-match-content img {
  width: 29%;
  /* text-align: center; */
  height: 150px;
  object-fit: fill;
  padding: 15px;
  margin: 0 auto;
}
.live-match-content p {
  text-align: center;
  font-size: 20px;
}
.live-match-content h2,
.live-match-stat h3 {
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding: 10px 0;
  margin: 10px 0;
}

#footballInfo div {
  text-align: center;
  vertical-align: top;
}
.vrun,
#afterRun {
  display: inline-block;
  font-family: 'Grandstander', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  color: rgb(30, 30, 85);
  padding: 5px;
  font-family: 'Grandstander', cursive;
  font-family: 'Josefin Sans', sans-serif;
}
#footballInfo div h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}


.live-match-content a{
  text-align: center;
  text-decoration: none;
  color: rgb(30, 30, 85);
  align-items: inherit;
}
.live-match-content a :hover{
  color: #2f3061;
  border-bottom: 1px solid #2f3061;
  padding-bottom: 1px ;

}

.live-match-content input[type="submit"] {
  margin: 10px 0;
  background-color: #2f3061;
  color: rgb(223, 223, 223);
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.live-match-content form {
  justify-content: center;
}

.live-match-content .score {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

.live-match-content .score p {
  font-size: 18px;
  background-color: rgb(52, 52, 52);
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.live-match-content .score p:nth-of-type(1) {
  background-color: rgb(95, 89, 128);
  color: #fff;
  border: none;
}
.live-match-content .live-match-image {
  width: 40%;
  margin: 10px 0;
  align-items: center;
}

.live-match-content .live-match-image img {
  width: initial;
  height: 120px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.live-match-content .live-match-image small {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
}
.live-Match-Info {
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid white;
}
.live-Match-Info p {
  font-size: 18px;
  padding: 10px 0;
  width: 10%;
  text-align: center;
}
.live-Match-Info h3 {
  font-size: 20px;
  padding: 10px 0;
  width: 50%;
  text-align: center;
}
.live-Match-goalscorer p {
  font-size: 18px;
  padding: 10px 0;
  width: 50%;
  text-align: center;
}
.line-up,
.substitutions {
  border-bottom: 1px solid white;
  justify-content: space-between;
  margin: 5px 0;
}
.line-up .live-match-image {
  justify-content: space-around;
  text-align: center;
  padding: 5px 0;
}
.team-name a{
  text-align: center;
  text-decoration: none;
  color: rgb(30, 30, 85);
  align-items: inherit;
}

.tema-name a :hover{
  color: #2f3061;
  border-bottom: 1px solid #2f3061;
  padding-bottom: 1px ;
}
.line-up .team-name {
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}
.line-up .player {
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}
.line-up p,
.substitutions p {
  text-align: center;
  width: 20%;
}
.line-up p:nth-of-type(1),
.substitutions p:nth-of-type(1) {
  width: 60%;
}
.substitutions h5 {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
.line-up h4,
.substitutions h4 {
  text-align: center;
  width: 70%;
  font-size: 25px;
  font-weight: bold;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  margin: 5px auto;
  padding: 5px 0;
}
.goal-scorer {
  width: 100%;
  justify-content: space-between;
}
.goal-scorer .live-Match-goalscorer {
  width: 40%;
  align-items: center;
  justify-content: center;
}
.goal-scorer .live-Match-goalscorer p {
  width: 100%;
}
.underline {
  border-bottom: solid 1px white;
}
/* Live Matches live.ejs End */

/*match details start*/

/*match details end*/

/* Display */

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* H2H Result Start */

.h2hcontainer {
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  height: 80vh;
  margin-top: 60px;
}
.first-row,
.second-row {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.details-card {
  width: 35%;
  color: rgb(52, 52, 52);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.details-card .score {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.details-card .score p {
  font-size: 18px;
  background-color: rgb(52, 52, 52);
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.details-card .live-match-image {
  width: 40%;
  margin: 10px 0;
  align-items: center;
}

.details-card .live-match-image img {
  width: 70%;
  height: 150px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.submitt {
  position: relative;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.submitt::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.submitt:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
  color: rgb(52, 52, 52);
}

.submitt:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.submitt:active {
  transform: translate(0em, 0.75em);
}

.submitt:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

.navs {
  background-color: #5f5980e8;
  height: 50px;
  color: #fff;
  width: 100%;
  font-size: 16px;
  z-index: 1;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.details-card .live-match-image small {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.matchs-details {
  justify-content: space-between;
  width: 60%;
  color: rgb(52, 52, 52);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2),
    0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
  border-radius: 5px;
  max-height: 1000px;
}

.matchs-details .match-detail {
  justify-content: space-around;
  border-bottom: 1px solid white;
  margin: 10px 0;
  align-items: center;
  padding: 10px 0;
}

.matchs-details .match-detail p {
  width: 12.5%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.match-detail a {
  text-decoration: none;
  color: rgb(52, 52, 52);
}
.match-detail a :hover{
  color: #2f3061;
  border-bottom: 1px solid #2f3061;
  padding-bottom: 1px ;
}

.matchs-details input[type='submit'] {
  background-color: #2f3061;
  color: rgb(223, 223, 223);
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}
/* H2H Result End */

/* Player info table start */
.table-standings-container {
  align-items: center;
  width: 50%;
  margin-top: 60px;
  justify-content: center;
}
.table-container {
  width: 100%;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}
.table-details {
  width: 65%;
}
.table-details1 {
  width: 80%;
}
table {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  color: #000000;
  padding: 5px 0;
}
table tbody td {
  text-align: center;
  color: rgb(52, 52, 52);
  padding: 23px;
  vertical-align: middle;
  font-family: 'Grandstander', cursive;
  font-family: 'Josefin Sans', sans-serif;
}
table thead {
  background-color: rgb(52, 52, 52);
  color: rgb(223, 223, 223);
  border-bottom: 5px solid rgb(223, 223, 223);
}
table thead th {
  background-color: rgb(52, 52, 52);
  position: sticky;
  top: 0;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Grandstander', cursive;
  font-family: 'Josefin Sans', sans-serif;
}

tbody tr {
  border-bottom: 5px solid rgb(223, 223, 223);
}

table tbody tr {
  color: rgb(52, 52, 52);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
  border-radius: 5px;
  padding: 5px;
}

table tbody tr td a {
  text-decoration: none;
  color: rgb(52, 52, 52);
}

table tbody tr td a:hover{
  
  color: #2f3061;
  border-bottom: 1px solid #2f3061;
  padding-bottom: 1px ; 
}

/* Player info table end */

/* question page start */

.container-question {
  width: 100%;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}
.container-question form {
  justify-content: center;
  align-items: center;
}
.container-question .question h3 {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(52, 52, 52);
  color: rgb(223, 223, 223);
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  padding: 5px 0;
  border-bottom: 5px solid rgb(223, 223, 223);
}
.container-question .question {
  width: 80%;
  justify-content: center;
  align-items: center;
}
.choises .option {
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-size: 15px;
  font-weight: bold;
  color: rgb(52, 52, 52);
  margin-bottom: 15px;
}
.question .choises {
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
}
.option .form_content {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.form_content label {
  padding-left: 15px;
}

/* Pop up massage start */
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}
/* Pop Up message end */

/* question page end */

/* User Page Start */

.main-aside-container {
  width: 50%;
  justify-content: space-between;
  min-width: 780px;
}
#main {
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1.5rem;
  height: 300px;
  min-width: 150px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
}

#main form {
  width: 100%;
}

#main button,
#main input[type='submit'] {
  width: 100%;
  color: rgb(52, 52, 52);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
  text-align: start;
}
#main button:hover,
#main input[type='submit']:hover {
  color: blue;
}

.border-left {
  border-left: 5px solid #2980b9;
}

#aside {
  width: 70%;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  min-width: 550px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
}

#fav-match {
  width: 45%;
  margin: 1rem;
}
#fav-match-container {
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(95, 89, 128, 0.2);
  border-radius: 5px;
}

#home-team-badge,
#away-team-badge {
  width: 100%;
}

.update-form-container {
  width: 100%;
}

.update-form-container form {
  width: 100%;
  justify-content: space-evenly;
  min-height: 300px;
  padding: 1rem;
}

.form-content,
.form-content-inside {
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.form-content-inside {
  width: 50%;
}

.form-content-inside p {
  font-size: 1.2rem;
}

.form-content label {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-content input[type='text'] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.update-form-container input[type='submit'] {
  width: 50%;
  margin: 1rem auto;
  background-color: rgb(30, 30, 85);
  color: #fff;
  padding: 0.5rem;
  border-radius: 2px;
}

.user-title {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 1024px) {
  #main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  #aside {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-aside-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 650px) {
  #main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  #aside {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-aside-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #fav-match-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

/* User Page End */
