<header class="nav">
    <article class="headerContainer">
      <div id="item1Header">
        <!-- <h>  Whistle <i class="fas fa-flag-checkered"></i></a> -->
        <a href="/">Whistle <i class="fas fa-flag-checkered"></i></a>
      </div>
      <div id="item2Header">
        <a href="/live">Todays Matches</a>
        <a href="#challenge">Challenge</a>
        <a href="#newsSection">News</a>
        <a href="#footballInfo">Football Info</a>
        <a href="/signin"><i onclick="showSignin()" style='font-size:24px' class='fas'>&#xf406;</i><br>

         
        </a>
      </div>
    </article>

  </header>